* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "navigation content content content content content"
    "footer footer footer footer footer footer";
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.navigation,
.content {
  padding: 10px;
  /* height: 300px; */ /* Should be removed. Only for demonstration */
}

/* Style the left column */
.navigation {
  grid-area: navigation;
  background-color: #f1f1f1;
}

/* Style the middle column */
.content {
  grid-area: content;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
}

.navItemSelected {
  font-weight: bold;
}
.navItemUnselected {
  font-weight: normal;
}

.visible {
  display: block;
}
.invisible {
  display: none;
}

.listIcon {
  width: 1em;
  height: 1em;
}

.tableCell_Icon {
  width: 4em;
  text-align: right;
}
.tableCell_Text {
  text-align: left;
}
.tableCell_Number {
  text-align: right;
}

.objectName {
  font-weight: bold;
  font-style: italic;
}

.overview {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 4;
  grid-template-areas: "overviewContent overviewContent overviewContent overviewPlugin";
}

.overviewContent {
  grid-area: overviewContent;
}

.overviewPlugin {
  grid-area: overviewPlugin;
}
